* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: sans-serif;
}

.contenedor {
    background-color: gray;
    padding: 24px;
    max-width: 400px;
    border-radius: 12px;
    margin: 0 auto;
}

.subtitulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}

.peliculas {
    list-style: none;
}

.pelicula {
    padding: .8rem .5rem;
    color: gray;
    margin-bottom: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.fondo-uno {
    background-color: lightblue;
}

.fondo-uno:hover,
.fondo-dos:hover {
    background-color: black;
    color: whitesmoke;    
}

.fondo-dos {
    background-color: lightpink;
}