* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    color: whitesmoke;
    background-color: blueviolet ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    padding: .8rem .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: .4rem;
    background-color: lightgreen;
    color: darkgreen;
    box-shadow: 0 4px 0 0 darkcyan;
    cursor: pointer;
    transition: all .300s ease;
}

button:hover {
    background-color: darkblue;
    color: whitesmoke;
    box-shadow: 0 0 0 0;
}